/********************UNIVERSAL********************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  /* Colors */
  --darkest: hsl(240, 18%, 14%);
  --darker: hsl(238, 18%, 31%);
  --mid: hsl(237, 18%, 48%);
  --lighter: hsl(237, 34%, 65%);
  --lightest: hsl(237, 83%, 90%);
}

/********************BASE********************/
html, body, main {
  height: 100%;
  width: 100%;
  background-color: var(--mid);
}

main {
  display: grid;
}

/********************LEFT SIDE********************/
main > section:first-child {
  background-color: var(--darker);
}

/********************RIGHT SIDE********************/
main > section:last-child {
  background-color: var(--mid);
}