/********************UNIVERSAL********************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  /* Colors */
  --darkest: hsl(240, 18%, 14%);
  --darker: hsl(238, 18%, 31%);
  --mid: hsl(237, 18%, 48%);
  --lighter: hsl(237, 34%, 65%);
  --lightest: hsl(237, 83%, 82%);
}

/********************BASE********************/
html, body, main {
  height: 100%;
  width: 100%;
  background-color: var(--mid);
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main > section:first-child,
main > section:last-child {
  height: 93%;
  border-radius: 10px;
  background-color: var(--lighter);
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
}

/********************LEFT SIDE********************/
main > section:first-child {
  width: 20%;
}

main > section:first-child > h2 {
  display: block;
  background-color: var(--darker);
  color: var(--lightest);
  border-radius: 10px 10px 0 0;
  height: 40px;
  width: 100%;
  text-align: left;
  padding-top: 5px;
  padding-left: 20px;
}

main > section:first-child li {
  padding-left: 20px;
  display: block;
  height: 30px;
  border-bottom: 1px solid var(--mid);;
}
/********************RIGHT SIDE********************/
main > section:last-child {
  width: 76%;
}