/********************UNIVERSAL********************/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  /* Colors */
  --darkest: hsl(240, 18%, 14%);
  --darker: hsl(238, 18%, 31%);
  --mid: hsl(237, 18%, 48%);
  --lighter: hsl(237, 34%, 65%);
  --lightest: hsl(237, 83%, 90%);
}

/********************BASE********************/
html, body, main {
  height: 100%;
  width: 100%;
  background-color: var(--mid);
}

main {
  background-color: var(--mid);
  display: flex;
}

/********************LEFT SIDE********************/
main > section:first-child {
  height: 100%;
  width: 110px;
  background-color: var(--darker);
  overflow-y: auto;
}

main > section:first-child ul {
  margin: 0 auto;
}

main > section:first-child li {
  display: block;
  height: 90px;
  width: 90px;
  background-color: var(--mid);
  margin: 10px auto;
  border-radius: 10px;
}

/********************RIGHT SIDE********************/
main > section:last-child {
  background-color: transparent;
  height: 100%;
}